{% load i18n %}

{% autoescape off %}
{% blocktrans with username=user.username %}Dear {{ username }},{% endblocktrans %}

{% trans "You're receiving this email because you requested a password reset for your NoteShare account." %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Your username, in case you've forgotten:" %} {{ user.username }}

{% trans "Thanks for using NoteShare!" %}

{% trans "Best regards," %}
{% trans "The NoteShare Team" %}
{% endautoescape %} 